html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle at top left, crimson, gold, deepskyblue);
    background-attachment: fixed; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: azure;
    min-height: 100vh; 
}


.grid {
    display: grid;
    gap: 10px;
    justify-content: center;
    margin: 0 auto;
}

.grid img {
    border: 2px solid #333;
    width: 80px;
    height: 80px;
    transition: transform 0.6s ease-in-out;
}


.grid img.flip {
    transform: rotateY(360deg);
}

.grid img::before,
.grid img::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.grid img::before {
    background: url('../ressources/back.png') no-repeat center center;
    background-size: cover;
}

.grid img::after {
    background-size: cover;
    transform: rotateY(180deg);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    font-size: 1.5em;
    z-index: 1000;
    text-align: center;
}

.victory-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.victory-content {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.victory-content h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.victory-content button {
    background: crimson;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.victory-content button:hover {
    background: darkred;
}
